@page
@model RegisterModel
@using TrendyShops.Utility
@{
    ViewData["Title"] = "Register";
        Layout = "~/Pages/Shared/_LayoutUser.cshtml";

}
@if (User.IsInRole(SD.ManagerRole))
{
    <h1>Register - Employee</h1>
}
else{<h1>@ViewData["Title"]</h1>}
 
<div class="row">
    <div class="col-md-4"  style="  margin-top: 2%;  margin-bottom: 5%;">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Create a new account.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating my-2" style="margin-right: 35%;">
                <label asp-for="Input.FirstName"></label>
                <input asp-for="Input.FirstName" class="form-control"  aria-required="true" />               
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div class="form-floating my-2" style="margin-right: 35%;">
                <label asp-for="Input.LastName"></label>
                <input asp-for="Input.LastName" class="form-control"  aria-required="true" />                
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <div class="form-floating my-2" style="margin-right: 35%;"> 
                <label asp-for="Input.PhoneNumber"></label>
                <input asp-for="Input.PhoneNumber" class="form-control" aria-required="true" />               
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-floating my-2" style="margin-right: 35%;">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />               
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating my-2" style="margin-right: 35%;">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating my-2" style="margin-right: 35%;">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            @if (User.IsInRole(SD.ManagerRole))
            {
                <div class="form-floating my-2">
                    <input type="radio" name="rdUserRole" value="@SD.ManagerRole" />@SD.ManagerRole
                    <input type="radio" name="rdUserRole" value="@SD.CustomerRole" />@SD.CustomerRole

                </div>
            }
            <button id="registerSubmit" type="submit" class="w-100 btn btn-primary" style=" margin-top: 4%;"> Register</button>
        </form>
    </div>
   
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
